<div class="row" *ngIf="ad">
    <div class="col-4">
        <h1>Your advert</h1>
    </div>
    <div class="col-8">
        <div class="alert alert-info pb-0" *ngIf="editForm.dirty">
            <p><strong>Information: </strong>You have made changes. Any unsaved changes will be lost</p>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <img src="{{ad.photoUrl || './assets/ad.png'}}" alt="xxx"
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong>Location:</strong>
                    <p>{{ad.street}}, {{ad.homeNr}}</p>
                </div>

            </div>
            <div class="card-footer">
                <button type="submit" 
                    [disabled]="!editForm.dirty" 
                    form="editForm" 
                    class="btn btn-success col-12">
                    Save changes
                </button>
            </div>
        </div>

    </div>

    <div class="col-8">
        <tabset class="member-tabset">
            <tab heading="About {{ad.title}}">
                <form #editForm="ngForm" id="editForm" (ngSubmit)="updateAd()">
                    <h4 class="mt-2">Title</h4>
                    <textarea class="form-control" 
                        [(ngModel)]="ad.title" 
                        name="title"
                        rows="2">
                    </textarea>
                    <h4 class="mt-2">Description</h4>
                    <textarea class="form-control" 
                        [(ngModel)]="ad.description" 
                        name="description"
                        rows="6">
                    </textarea>
                    <h4 class="mt-2">Location details</h4>
                    <div class="d-flex flex-row align-items-center">
                        <label for="Street">Street:</label>
                        <input type="text" [(ngModel)]="ad.street" name="street" class="form-control mx-2">
                        <label for="Nr">Nr:</label>
                        <input type="text" [(ngModel)]="ad.homeNr" name="homeNr" class="form-control mx-2">
                    </div>
                    <label for="PhoneNr">Phone Number:</label>
                    <input type="text" [(ngModel)]="ad.phoneNr" name="phoneNr" class="form-control mx-2">
                </form>
            </tab>
            <tab heading="Edit photos">
                <app-ad-photo-editor [ad]="ad"></app-ad-photo-editor>
            </tab>
        </tabset>
    </div>
</div>