<div class="row" *ngIf="ad">
    <div class="col-4">
        <div class="card">
            <img src="{{ad.photoUrl || './assets/ad.png'}}" alt="{{ad.title}}"
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong>Location:</strong>
                    <p>tu i tam</p>
                </div>
                <div>
                    <strong>Added:</strong>
                    <p>{{ad.created}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary">Like</button>
                    <button class="btn btn-success">Messages</button>
                </div>
            </div>
        </div>

    </div>

    <div class="col-8">
        <tabset class="member-tabset">
            <tab heading="Details">
                <h4>Title</h4>
                <p>{{ad.title}}</p>
                <h4>Description</h4>
                <p>{{ad.description}}</p>
            </tab>
            <tab heading="Photos" #photoTab="tab">
                <gallery *ngIf="photoTab.active" [items]="images" class="gallery"></gallery>
            </tab>
            <!-- <tab heading="messages">
                <p>Messages will go here</p>
            </tab> -->
        </tabset>
    </div>
</div>