<div class="row" *ngIf="ad">
    <div class="col-4">
        <div class="card">
            <img src="{{ad.photoUrl || './assets/ad.png'}}" alt="{{ad.title}}"
                class="card-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong>Location:</strong>
                    <p>{{ad.street}}: {{ad.homeNr}}</p>
                    <strong>Contact:</strong>
                    <p>{{ad.phoneNr}}</p>
                </div>
                <div>
                    <strong>Added:</strong>
                    <p>{{ad.created}}</p>
                </div>
            </div>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <button class="btn btn-primary" (click)="likeAd()">Save as favourite</button>
                    <button class="btn btn-success" routerLink="/members/{{ad.userId}}">Show author</button>
                </div>
            </div>
        </div>

    </div>

    <div class="col-8">
        <tabset class="member-tabset">
            <tab heading="Details">
                <h4>Title</h4>
                <p>{{ad.title}}</p>
                <h4>Description</h4>
                <p>{{ad.description}}</p>
            </tab>
            <tab heading="Photos" #photoTab="tab">
                <gallery *ngIf="photoTab.active" [items]="images" class="gallery"></gallery>
            </tab>
            <tab heading="Comments">
                <div *ngIf="ad.comments" >
                    <div *ngFor="let comment of comments">
                        <app-ad-comment [comment]="comment"></app-ad-comment>
                    </div>
                    <form class="mb-3" #commentForm="ngForm" id="commentForm" (ngSubmit)="CommentAd()">
                        <textarea class="form-control" 
                            [(ngModel)]="newComment.text"
                            name="newComment"
                            rows="2"></textarea>
                    </form>
                    <button type="submit"
                        [disabled]="!commentForm?.dirty" 
                        form="commentForm" 
                        class="btn btn-success">
                        Comment
                    </button>
                    <div class="alert alert-info pb-0 mt-3" *ngIf="commentForm?.dirty">
                        <p><strong>Information: </strong>You have started new comment. Any unsaved changes will be lost</p>
                    </div>
                </div>
            </tab>
        </tabset>
    </div>
</div>